<div class="game-controller">
  <div class="model-input">
    <label for="learning-rate">Learning rate: </label>
    <input type="text" id="learning-rate" [(ngModel)]="learningRate" >
  </div>

  <div class="model-input">
    <label for="discount-factor">Discount Factor: </label>
    <input type="text" id="discount-factor" [(ngModel)]="discountFactor">
  </div>

  <button (click)="toggleSimulation()">{{toggleButtonName}}</button>
</div>
<table>
  <tr>
    <td>Switches: </td>
    <td>{{switches}}</td>
  </tr>
  <tr>
    <td>Holds: </td>
    <td>{{holds}}</td>
  </tr>
</table>
<app-game #game></app-game>
